VITE_EMAIL=
VITE_GITHUB_URL=
VITE_LINKEDIN_URL=
VITE_LEETCODE_URL=
VITE_INSTAGRAM_URL=
VITE_CERTIFICATES_URL=
VITE_SATURDAY_URL=
VITE_RUNNOVA_URL=
VITE_ML_PROJECT_URL=
VITE_EMAIL_ASSISTANT_URL=
VITE_SALON_URL=
